@font-face {
    font-family: 'MyMono';
    src: url("./fonts/Sometype_Mono/static/SometypeMono-Regular.ttf") format('truetype');
}

body {
/*    background color like intellij idea*/
    background-color: #2b2b2b;
    color: #fff;
    font-family: MyMono, monospace;
    font-size: 1.5em;
    text-align: center;
}

.java-hello-world {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#typing {
    font-size: 1.5em;
    font-family: MyMono, monospace;
}

.avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}